node_modules/
.env
dist/
build/
*.log
npm-debug.log*
.DS_Store
/backend/uploads/*
!/backend/uploads/.gitkeep

.fake

# IDE et éditeur
.vscode/
.idea/

# Fichiers de déploiement Azure
.deployment
.github/workflows/.deployment

# Fichiers temporaires
Untitled-*.md